@{
    @model List<WebApplication1.Models.Product>
    ViewData["Title"] = "Home Page";
    int index = 1;
    Layout = "_ProductLayout";
}

<div class="text-center">
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th>Действие</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@product.Category</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Actions</td>
            </tr>
        }
    </table>
</div>